<a href="https://colab.research.google.com/github/sagarikaraje/Artificial-Intelligence/blob/master/CW_J074_04072020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#list
p=[1,2,3,4,'human']
q=[[1,2,3,4,'human'],[1,2,3,4,'human'],[1,2,3,4,'human']]

#tuple
r=(1,2,3,4,'human')

#set
s={1,2,3,4,'human'}

#dictionary
t={'list':[1,2,3,4,'human'],
   'tuple':(1,2,3,4,'human'),
   'set':{1,2,3,4,'human'}}

In [13]:
#sets have distinct values
a={1,2,3,6,2,3,4,5,6,7,8,8,9,0,0}
a

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [9]:
#lists cant be a part of a set
a={[1,2,3,4,'human']}

TypeError: ignored

In [10]:
#sets cant be a part of a different set
a={{1,2,3,4,'human'}}

TypeError: ignored

In [16]:
#tuples can be in a set
a={(1,2,3,4,'human')}
a

{(1, 2, 3, 4, 'human')}

In [6]:
#sets do not support indexing
a[6]

TypeError: ignored

In [14]:
#pop function removes an arbitrary (random) element from the set, and deletes that element from the original set
a={1,2,3,6,2,3,4,5,6,7,8,8,9,0,0}
print(a)
print(a.pop())
print(a)
print(a.pop())
print(a)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
0
{1, 2, 3, 4, 5, 6, 7, 8, 9}
1
{2, 3, 4, 5, 6, 7, 8, 9}

In [23]:
a={1,2,3,6,2,3,4,5,6,7,8,8,9,0,0}
b={1,3,6,3,5,8,9}

In [18]:
#finding intersections of two sets
a.intersection(b)

{1, 3, 5, 6, 8, 9}

In [20]:
#to discard a particular value from the set
a.discard(3)
print(a)

{0, 1, 2, 4, 5, 6, 7, 8, 9}

In [24]:
#finding if one set is a subset of the other
b.issubset(a)

True

In [25]:
#finding if one set is a superset of the other
a.issuperset(b)

True